<div id="btnLogOut" class="animatedButton">
        LOG OUT
</div>

<div id="infoAboutUser-sessionFrame">
    <div id="infoAboutUser-sessionBackground">
    </div>
    <div id="infoAboutUser-session" class="animatedButton">
    </div>
</div>    